@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@300;400;500;600;700&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.font-text {
  font-family: 'Kaushan Script', cursive;
}
.product-wrap {
  height: 350px;
}
.logo {
  width: 110px;
}
.banner {
  height: 500px;
  width: 100%;
  background-image: url('./image/banner-1.jpg.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.slick-dots li button:before {
  font-size: 10px;
}
.slick-dots {
  bottom: -60px;
}
.slick-prev, .slick-next {
  display: none !important;
}

.banner-discount-content {
  background-color: #f4f4f4;
}
.discount-content-sale::before {
  position: absolute;
  left: 50%;
  top: -33%;
  height: 183px;
  width: 183px;
  background: #ffffff;
  content: "";
  border-radius: 50%;
  z-index: -1;
  margin-left: -91.5px;
}
.about-banner-content-bg::before {
  top: -22%;
}
.about-banner-content {
  background-color: rgb(233, 203, 208);
  padding-top: 18px;
  height: 160px;
  width: 160px;
}

.cart {
  position: relative;
}
.cart-quality{
  position: absolute;
  top: -18px;
  right: -16px;
  padding: 2px 10px; 
  border-radius: 16px;
  background-color: orange;
}


.banner-footer-item  {
  transition: all linear 0.2s;
}
.about {
  height: auto;
}
.about-banner-fashion {
  overflow-y: hidden;
  height: 500px;
  width: 100%;
}
.about-banner-fashion {
  background-color: #20adc8;
}
.banner-fashion-violet {
  background-color: #ad7ee5;
}
.banner-fashion-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.list-categories-item {
  border-bottom: 1px solid #f3f0f0;
}
.list-categories-content ul{
  transition: all ease-in 0.03s;
}
.search-input {
  border: 1px solid #ad7ee5;
  outline: none;
  padding: 5px 0;
  padding-left: 10px;
  border-radius: 6px;
}

.detail-silder {
  height: 400px;
}
.details-slider-wrap .slick-prev, 
.details-slider-wrap .slick-next {
  display: block !important;
  margin: 0 100px;
  z-index: 5;
}
.details-slider-wrap .slick-initialized:last-child button {
  display: none !important;
}
.details-slider-wrap .slick-prev:before, .slick-next:before {
  color: #000;
  font-size: 1.5rem;
}
.detail-slider-item {
  width: 100%;
  height: 370px;
  display: flex !important;
  justify-content: center;
}
.contact {
  height: 600px;
}
.contact-google-map {
  height: 90%;
}
.login-page {
  height: auto;
}











@media screen and (max-width: 1024px) {
  .catogeries-item {
    height: 600px;
  }
}
@media screen and (max-width: 900px) {
  .catogeries-item {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .details-slider-wrap .slick-prev, 
  .details-slider-wrap .slick-next {
    margin: 0 15px;
  }
  .footer-info {
    height: 480px;
  }
}
@media screen and (max-width: 600px) { 
  .header-menu {
    margin-left: 20px;
  }
  .banner-fashion-image {
    height: 350px;
  }
  .about-banner-fashion {
    overflow: unset;
    height: auto;
    width: 100%;
  }
  .details-slider-wrap .slick-prev, 
  .details-slider-wrap .slick-next {
    margin: 0 80px;
  }
  .contact {
    height: auto;
  }
  .contact-google-map {
    margin-top: 60px;
    height: 500px;
  }
  .footer-info {
    height: 260px;
  }
}
@media screen and (max-width: 420px) {
  .header-menu {
    margin-left: 0;
  }
  .about-banner img{
    height: 400px;
    object-fit: cover;
  }
  .details-slider-wrap .slick-prev, 
  .details-slider-wrap .slick-next {
    margin: 0 30px;
  }
  .footer-info {
    height: 250px;
  }
}
